html {
  background-color: tomato;
  /* Other HTML styles */
}

body {
  background-color: wheat;
  height: 700px;
  width: 700px;
  margin-top: 100px;
  margin-left: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black; /* Combined border property with color and width */
}


.square {
  width: 150px; /* Set the width */
  height: 100px; /* Set the height */
  background-color: rgb(6, 103, 116); /* Set the background color */
  border: 3px solid white; /* Set the border */
  margin-top: 20px;
  margin-left: 130px;
  align-items: center;
}

#square-mid {
  width: 400px; /* Set the width */
  height: 100px; /* Set the height */
  background-color: rgb(6, 103, 116); /* Set the background color */
  border: 3px dashed white; /* Set the border */
  margin-top: 20px;
}
